 #wrapper {
	width: 1000px;
	//padding: 0px;
	margin: 0px auto;
	//margin: 0px auto 120px;
	position: relative;
 }
#container {
	width: 1100px;
}
#theme {
	margin-left: 60%;
}
#theme a {
    padding: 0px 10px;
	background-color: #FFECFF;
	border: 1px solid #D756FF;
	border-radius: 5px;
}
#menu {
	height: auto;
	width: 120px;
	list-style-type: none;
	text-transform: uppercase;
	font-style: italic;
	/* padding-left: 18px;*/
	float: right;
	margin-right: 12px;	
}
#menu li {
	padding: 5px 8px;
	background-color: rgba(79, 179, 252, 0.49);
	border: 1px solid #333;
	border-radius: 10px 20px 20px 10px;
	margin: 5px;
	width: auto;
}
a {
	text-decoration: none;
}
#left_panel {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), #C0F5FE) no-repeat scroll 0% 0% transparent;
	height: 600px;
	width: 150px;
	float: left;
	background-color: #40def9; 
}
#menu li.active {
	background-color: rgba(243, 161, 255, 0.81);
}
#menu li.active a {
	color: #FFF;
}
#content {
	height: auto;
	float: right;
	width: 830px;
	margin: 5px 5px 40px;
}	
#accordion img {
	width: 200px;
	height: 200px;
}
#productTable {
	width: 900px;
}
.productRow
{
    width: 230px;
    height: 280px;
	float: left;
	background-color: rgba(4, 201, 62, 0.4);
	margin: 5px;
	padding: 10px 0px 10px 30px;
}
.productRow img {
	width: 200px;
	height: 200px;
}
#cartTable {
	display:  table;
	float: left;
	margin: 5px 0px 5px 25px;
    width:650px;
    background-color: rgba(186, 248, 202, 1);
    border:1px solid  #666666;
}
.cartRow
{
    display: table-row;
}
.cartCell {
    display:table-cell;
    border-style: solid;
	border-width: 1px;
	border-color: #FFF;
	padding: 4px;
}
#content p {
	margin-left: 5%;
	font-size: 18px;
}
.ui-widget {
	margin: 5px 0px;
}
.page_navigation {
	margin: 5% 50% 0% 10%;
	float: left;
}
.page_navigation a {
	margin: 5px;
}
.no_more {
	color: grey;
}
#inCartBtn {
	float: right;
    margin: 5% 20% 10% 65%;
}
/*----JQueryUI------*/
 .custom-combobox {
position: relative;
display: inline-block;
}
.custom-combobox-toggle {
/*position: absolute;*/
/*top: 0;*/
bottom: 1px;
margin-left: -1px;
padding: 0;
height: 32px;
/* support: IE7 */
*height: 1.7em;
*top: 0.1em;
}
.custom-combobox-input {
margin: 0;
padding: 0.3em;
}